body {
  position: relative;
  font-family: 'Work Sans', sans-serif;
  height: 100vh;
  background: #849bcd; /* Old browsers */
background: -moz-linear-gradient(top, #849bcd 0%, #c9d5ef 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #849bcd 0%,#c9d5ef 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #849bcd 0%,#c9d5ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#849bcd', endColorstr='#c9d5ef',GradientType=0 ); /* IE6-9 */
}

.container {
  width: 400px;
  max-width: 80vw;
  margin: auto;
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.cover {
  width: 100%;
  border-radius: 3px;
}

nav a {
  display: block;
  width: 80%;
  margin:auto;
  text-align: center;
  border-radius: 20px;
  background-color: white;
  font-size: 20px;
  padding: 10px;
  color: #849bcd;
  text-decoration: none;
  margin-top: 10px;
}
nav a:hover {
  background-color: #E5EDFF;
}
